@font-face {
    font-family: 'PortagoITC TT';
    src: url('../fonts/PortagoITCTT/PortagoITCTT.eot');
    src: url('../fonts/PortagoITCTT/PortagoITCTT.eot?#iefix') format('embedded-opentype'),
    url('../fonts/PortagoITCTT/PortagoITCTT.woff2') format('woff2'),
    url('../fonts/PortagoITCTT/PortagoITCTT.woff') format('woff'),
    url('../fonts/PortagoITCTT/PortagoITCTT.ttf') format('truetype'),
    url('../fonts/PortagoITCTT/PortagoITCTT.svg#PortagoITCTT') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Abadi MT Condensed';
    src: url('../fonts/AbadiMT-CondensedLight/AbadiMT-CondensedLight.eot');
    src: url('../fonts/AbadiMT-CondensedLight/AbadiMT-CondensedLight.eot?#iefix') format('embedded-opentype'),
    url('../fonts/AbadiMT-CondensedLight/AbadiMT-CondensedLight.woff2') format('woff2'),
    url('../fonts/AbadiMT-CondensedLight/AbadiMT-CondensedLight.woff') format('woff'),
    url('../fonts/AbadiMT-CondensedLight/AbadiMT-CondensedLight.ttf') format('truetype'),
    url('../fonts/AbadiMT-CondensedLight/AbadiMT-CondensedLight.svg#AbadiMT-CondensedLight') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Futura-Medium';
    src: url('../fonts/Futura-Medium/FuturaBT-Medium.eot');
    src: url('../fonts/Futura-Medium/FuturaBT-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Futura-Medium/FuturaBT-Medium.woff2') format('woff2'),
    url('../fonts/Futura-Medium/FuturaBT-Medium.woff') format('woff'),
    url('../fonts/Futura-Medium/FuturaBT-Medium.ttf') format('truetype'),
    url('../fonts/Futura-Medium/FuturaBT-Medium.svg#FuturaBT-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}
