.fusion-footer .fusion-footer-widget-area, .fusion-footer .fusion-footer-widget-area .fusion-column{
    padding-left: 0;
    padding-right: 0;
}
.fusion-footer-widget-area .widget_recent_entries li {
    border-bottom: 0;
}
.fusion-copyright-content {
    margin-left: auto;
    margin-right: auto;
}

.fusion-footer-widget-column.widget.widget_recent_entries .widget-title {
    background-color: #261945;
    margin-bottom: 0;
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #B6B6B6;
}
.fusion-footer-widget-column.widget.widget_recent_entries .widget-title::after {
    content: ' ';
    height: 3px;
    display: block;
    /*background-image: linear-gradient(-90deg, #1764B9 0%, #53A0FE 48%, #F44742 100%);*/
}
.fusion-footer-widget-column.widget.widget_recent_entries ul li a {
    color: #ffffff;
}
.fusion-footer-widget-area .widget>ul>li:first-child {
    padding-top: 10px;
}
.fusion-footer-widget-column.widget.widget_recent_entries ul li:nth-child(2n-1) {
    background-color: #150E30;
}
.fusion-footer-widget-column.widget.widget_recent_entries ul li:nth-child(2n) {
    background-color: #261945;
}